.OptionList label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;   
    margin-bottom: 8px;  
}

.OptionList select {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px (0, 0, 0, 0.06);
    padding: 24px;
    border: none;
    outline-color: #6278F7;
}